html, body {
  height: 100%;
}

body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0px;
  padding:0px;
}

#ui_wrap {
  width: 200px;
  height:100%;
  position:absolute;
  left:-200px;
  top:0px;
  z-index:1;
  transition:left 0.666s;
}

#ui_wrap.hide {
  left:-200px;
}

#ui_wrap.show {
  left:0px;
}

#ui {
  display: -webkit-flex;
  height: 100%;
  background-color: #f1f1f1;
  border-right: 2px solid #e5e5e5;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.ui_group {
  padding: 5px;
}

.bottom {
  margin-top: auto;
}

#canvas_wrap {
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}

h2 {
  color: #00a4e4;
  font-size: 24px;
  line-height: 24px;
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
  -webkit-text-stroke: .5px;
  margin: 0px 0px 5px 0px;
  color: #333333;
}

.option {
  border: 1px solid #e5e5e5;
  padding: 5px;
  cursor: pointer;
  display: -webkit-flex;
  -webkit-flex-direction: row;
}

.option:hover {
  color: #00a4e4;
  border: 1px solid #00a4e4;
}

.option > img {
  width:32px;
  height:32px;
}

.option > div, .option > label {
  line-height:32px;
  margin-left:5px;
  font-weight:bold;
}

.option > input[type="checkbox"] {
  margin: 10px;
}

.selected {
  color: #00a4e4;
  border: 1px solid #00a4e4;
}

.disabled {
  pointer-events:none;
}

.control_info {
  display:-webkit-flex;
}

.input {
  width:75px;
}

canvas {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  width:100%;
  height:100%;
}

#logo {
  position: absolute;
  width: 250px;
  height: 90px;
  bottom: 20px;
  right: 30px;
  background: url(images/logo.png);
  z-index:1;
}
